/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Fraunces:opsz,wght@9..144,100;9..144,200;9..144,300;9..144,400;9..144,500;9..144,600;9..144,700;9..144,800;9..144,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.header {
  background-color: #3ebfff;
  background-image: url(resources/images/photos/image-header.jpg);
  background-position: center bottom;
  background-size: auto 400px;
  background-repeat: no-repeat;
  color: hsl(0deg, 0%, 100%);
  height: 538px;
  padding: 32px 24px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  height: 24px;
}
.header__menu__list {
  display: none;
}
.header__menu__burger {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 3px 0;
}
.header__menu__burger__bar {
  background-color: hsl(0deg, 0%, 100%);
  width: 24px;
  height: 2px;
}

.header__title {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 6.5px;
  line-height: 49px;
  margin-top: 88px;
}

.header__arrow {
  display: block;
  margin: auto;
  margin-top: 52px;
}

.board {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
}
.board__card__img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.board__card--info {
  text-align: center;
  margin: 64px 24px;
}
.board__card__title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  color: hsl(212deg, 27%, 19%);
}
.board__card__text {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: hsl(232deg, 10%, 55%);
  margin: 24px 0 32px 0;
}
.board__card__anchor {
  text-transform: uppercase;
  text-decoration: solid underline 10px rgba(250, 212, 0, 0.5);
  font-family: "Fraunces", serif;
  color: hsl(212deg, 27%, 19%);
  font-weight: 900;
  font-style: 15px;
  line-height: 25px;
  letter-spacing: 1px;
}

.services {
  display: flex;
  font-display: column;
}
.services__card--cherry {
  background-image: url(resources/images/photos/image-graphic-design.jpg);
}
.services__card--mandarin {
  background-image: url(resources/images/photos/image-photography.jpg);
}

/*# sourceMappingURL=style.css.map */
