/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Fraunces:opsz,wght@9..144,100;9..144,200;9..144,300;9..144,400;9..144,500;9..144,600;9..144,700;9..144,800;9..144,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.header {
  background-color: #3ebfff;
  background-image: url(resources/images/photos/image-header.jpg);
  background-position: center bottom;
  background-size: auto 400px;
  background-repeat: no-repeat;
  color: hsl(0deg, 0%, 100%);
  height: 538px;
  padding: 32px 24px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
}
.header__menu__logo {
  width: 170px;
  height: 33px;
}
.header__menu__list {
  display: none;
}
.header__menu__burger {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 3px 0;
}
.header__menu__burger__bar {
  background-color: hsl(0deg, 0%, 100%);
  width: 24px;
  height: 2px;
}

.header__title {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 6.5px;
  line-height: 49px;
  margin-top: 88px;
}

.header__arrow {
  display: block;
  margin: auto;
  margin-top: 52px;
}

.board {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: "egg" "eggText" "glass" "glassText";
  width: 100%;
}
.board__card {
  height: .board__card --egg;
  height-grid-area: egg;
}
.board__card--eggText {
  grid-area: eggText;
}
.board__card--glass {
  grid-area: glass;
}
.board__card--glassText {
  grid-area: glassText;
}
.board__card__img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.board__card--info {
  text-align: center;
  margin: 64px 24px;
}
.board__card__title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  color: hsl(212deg, 27%, 19%);
}
.board__card__text {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: hsl(232deg, 10%, 55%);
  margin: 24px 0 32px 0;
}
.board__card__anchor {
  text-transform: uppercase;
  text-decoration: solid underline 10px rgba(250, 212, 0, 0.5);
  font-family: "Fraunces", serif;
  color: hsl(212deg, 27%, 19%);
  font-weight: 900;
  font-style: 15px;
  line-height: 25px;
  letter-spacing: 1px;
}
.board__card__anchor--egg {
  text-decoration: solid underline 10px rgba(250, 212, 0, 0.5);
}
.board__card__anchor--egg:hover {
  text-decoration: solid underline 10px hsl(51deg, 100%, 49%);
}
.board__card__anchor--glass {
  text-decoration: solid underline 10px hsla(7deg, 99%, 70%, 0.5);
}
.board__card__anchor--glass:hover {
  text-decoration: solid underline 10px hsl(7deg, 99%, 70%);
}

.services {
  display: flex;
  flex-direction: column;
}

.services__card {
  text-align: center;
  background-position: center;
  background-size: cover;
}
.services__card--cherry {
  background-image: url(resources/images/photos/image-graphic-design.jpg);
}
.services__card--mandarin {
  background-image: url(resources/images/photos/image-photography.jpg);
}
.services__card__title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 28px;
  line-height: 35px;
  margin: 398px 0 27px 0;
}
.services__card__title--cherry {
  color: hsl(167deg, 40%, 24%);
}
.services__card__title--mandarin {
  color: hsl(198deg, 62%, 26%);
}
.services__card__text {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 27px;
  margin: 0 24px 59px 24px;
}
.services__card__text--cherry {
  color: hsl(167deg, 40%, 24%);
}
.services__card__text--mandarin {
  color: hsl(198deg, 62%, 26%);
}

.testimonials {
  text-align: center;
  margin: 64px 24px 0 24px;
}

.testimonials__title {
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-weight: 900;
  line-height: 20px;
  letter-spacing: 4px;
  color: hsl(210deg, 4%, 67%);
}

.testimonials__wrapCards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 64px;
  margin: 64px 0 86px 0;
}
.testimonials__wrapCards__card__img {
  display: block;
  margin: auto;
  width: 72px;
  border-radius: 36px;
}
.testimonials__wrapCards__card__text {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: hsl(213deg, 9%, 39%);
  line-height: 32px;
  margin: 32px 0;
}
.testimonials__wrapCards__card__name {
  font-family: "Fraunces", serif;
  color: hsl(212deg, 27%, 19%);
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
}
.testimonials__wrapCards__card__post {
  color: hsl(210deg, 4%, 67%);
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  margin-top: 9px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}
.gallery__img {
  width: 50vw;
  height: 50vw;
  object-fit: cover;
}

.footer {
  background-color: hsl(168deg, 44%, 70%);
  text-align: center;
  color: hsl(168deg, 34%, 41%);
  padding-bottom: 1px;
}

.footer__logo {
  width: 170px;
  height: 33px;
  margin-top: 64px;
  margin-bottom: 40px;
  filter: brightness(0) saturate(100%) invert(33%) sepia(97%) saturate(270%) hue-rotate(118deg) brightness(96%) contrast(91%);
}

.footer__menu__liste {
  display: flex;
  justify-content: space-between;
  width: 297px;
  margin: auto;
}
.footer__menu__liste__item {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.footer__menu__liste__item:hover {
  color: white;
}

.footer__resSoc {
  margin: 88px 107px 80px 104px;
  display: flex;
  justify-content: space-between;
  width: 164px;
  margin: 80px auto;
}
.footer__resSoc__anchor:hover {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7488%) hue-rotate(287deg) brightness(107%) contrast(103%);
}

@media screen and (min-width: 1024px) {
  .header {
    background-size: auto 800px;
    height: 800px;
    padding: 34px 48px 0 40px;
  }
  .header__menu {
    align-items: center;
  }
  .header__menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 47px;
  }
  .header__menu__list__item {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
  }
  .header__menu__list__item--button {
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    width: 140px;
    height: 56px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    text-align: center;
    color: hsl(212deg, 27%, 19%);
    line-height: 25px;
    padding: 16px 0;
  }
  .header__menu__list__item--button:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.4);
  }
  .header__menu__burger {
    display: none;
  }
  .header__title {
    font-size: 56px;
    line-height: 69px;
    letter-spacing: 9px;
    margin: 105px 0 97px 0;
  }
  .board {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 600px 600px;
    grid-template-areas: "eggText egg" "glass glassText";
  }
  .board__card--info {
    margin: 158px 110px 157px 165px;
    text-align: left;
  }
  .board__card__img {
    width: 100%;
    height: 600px;
    object-fit: cover;
  }
  .board__card__title {
    font-size: 40px;
    line-height: 50px;
  }
  .board__card__text {
    font-size: 17px;
  }
  .services {
    display: flex;
    flex-direction: row;
  }
  .services__card {
    width: 50%;
    padding: 398px 0 59px 0;
  }
  .services__card__title {
    margin: 0 0 27px 0;
  }
  .services__card__text {
    font-size: 16px;
    width: 339px;
    margin: auto;
  }
  .testimonials {
    margin: 160px 165px;
  }
  .testimonials__wrapCards {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .testimonials__wrapCards__card {
    width: 350px;
  }
  .gallery__img {
    width: 25vw;
    height: 447px;
  }
}

/*# sourceMappingURL=style.css.map */
